@import '_param';
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    background-color: $color-black;
}

.container {
    width: 100%;
    max-width: 1440px;
    // width: 600px;
    border: 1px solid white;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 20px;
}

.logo-img {
    width: 140px;
    // height: 50px;
    height: auto;
}

.header-flags {
    width: 35px;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.flag-link {
    // display: block;
}

.flag-item {
    width: 30px;
    // height: 28px;
    filter: brightness(30%);
    &:hover,
    &-active {
        filter: brightness(100%)
    }
}

.header-menu {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.menu-style {
    font-family: $font-main;
    font-size: 1.8rem;
    line-height: 1.25em;
    font-weight: 400;
}

.menu-active {
    color: $color-blue;
}

.menu-inactive {
    color: grey;
    disabled: true;
}

.menu-link {
    color: $color-white;
    text-decoration: none;
    &:hover {
        color: $color-blue;
    }
}

.main {
    width: 100%;
}

.m-video-no {
    display: none;
}

.d-video-no {
    display: none;
}

.about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    background-color: $color-blue;
    transform: translateZ( 0);
    transition: transform 0.6s ease-in-out;
    &-all-text {
        width: 100%;
        // width: 60%;
    }
    &-title {
        font-family: $font-main;
        color: $color-white;
        font-size: 2.3rem;
        line-height: 120%;
        font-weight: 700;
        padding: 20px 0 10px 0;
        text-transform: uppercase;
        text-align: center;
    }
    &-subtitle {
        font-family: $font-main;
        color: $color-white;
        font-size: 1.7rem;
        line-height: 125%;
        font-weight: 600;
        // padding: 10px 0;
        padding-bottom: 20px;
    }
    &-text {
        font-family: $font-main;
        color: $color-white;
        font-size: 1.5rem;
        line-height: 125%;
        font-weight: 500;
        padding: 10px 0;
    }
    &-videos {
        width: 100%;
    }
}

.video-item {
    width: 100%;
    max-width: 400px;
    height: 225px;
}

.points {
    width: 100%;
    display: none;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px 0 30px 0;
    &-item {
        width: 23%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &-img {
        height: 110px;
        padding-bottom: 15px;
    }
    &-text {
        font-family: $font-main;
        color: $color-white;
        font-size: 1.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
}

.products {
    width: 100%;
    padding-top: 30px;
    background-image: url('../img/rema-bg.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    &-items {
        width: 100%;
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    &-item {
        max-width: 300px;
        text-align: center;
    }
    &-img {
        padding-bottom: 30px;
    }
    &-text {
        margin: 0 auto;
        width: 90%;
        font-family: $font-main;
        color: $color-black;
        font-size: 1.6rem;
        // font-size: 2rem;
        font-weight: 600;
        padding-bottom: 30px;
    }
}

.img-item {
    width: 200px;
    height: auto;
}

.part-title {
    font-family: $font-main;
    text-transform: uppercase;
    text-align: center;
    &_black {
        color: $color-black;
        font-size: 3.8rem;
        font-weight: 500;
        // font-size: 4.5rem;
        // font-weight: 600;
    }
    &_white {
        color: $color-white;
        font-size: 3.5rem;
        font-weight: 500;
        // font-size: 4.2rem;
    }
}

.algorithm {
    width: 100%;
    padding-top: 10px;
    &-items {
        margin: 0 auto;
        width: 90%;
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 30px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0px;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: flex-start;
        // justify-content: space-around;
    }
    &-notuse {
        display: none;
    }
    &-item {
        width: 100%;
        // width: 180px;
        text-align: center;
    }
    &-img {
        // padding-bottom: 10px;
        height: 100px;
        // height: 136px;
    }
    &-text {
        // width: 150px;
        font-family: $font-main;
        color: $color-white;
        font-size: 1.4rem;
        // font-size: 2.3rem;
        font-weight: 300;
        padding-bottom: 50px;
        text-transform: uppercase;
        text-align: center;
    }
    &-arrow {
        width: 30px;
        height: auto;
        // width: 50px;
        // height: 100px;
        background-image: url('../img/algorithm/algorithm-arrows.png');
        background-size: 30px auto;
        // background-position: center center;
        background-position: top center;
        background-repeat: no-repeat;
        margin-top: 30px;
    }
}

.img-item-algorithm {
    width: 80px;
    height: auto;
}

.projects {
    width: 100%;
    background-color: $color-blue;
    padding: 30px 0 20px 0;
    text-align: center;
    &-title {
        font-family: $font-main;
        color: $color-white;
        font-size: 3.0rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 10px;
        // padding-bottom: 30px;
    }
    &-item {
        width: 96%;
        margin: 0 auto;
        text-align: left;
        padding-bottom: 50px;
    }
    &-item-title {
        width: 100%;
        font-family: $font-main;
        text-transform: uppercase;
        // text-align: center;
        // text-align: left;
        color: $color-white;
        font-size: 1.7rem;
        // font-size: 3.2rem;
        font-weight: 500;
        padding-bottom: 15px;
    }
    &-allimgs {
        width: 100%;
        display: flex;
        padding-bottom: 5px;
        // padding-bottom: 20px;
    }
    &-big-img {
        width: 98%;
        // width: 70%;
    }
    &-big-size {
        width: 100%;
        height: auto;
    }
    &-imgs {
        width: 80%;
        max-width: 700px;
        // display: flex;
        display: none;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: space-between;
    }
    &-small-img {
        width: 48%;
        height: 49%;
        max-width: 315px;
        max-height: 208px;
    }
    &-desc {
        width: 100%;
        // width: 70%;
    }
    &-text {
        font-family: $font-main;
        color: $color-white;
        font-size: 1.4rem;
        // font-size: 2.2rem;
        font-weight: 400;
    }
    &-more {
        margin-top: -30px;
    }
    &-button {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-btn {
        width: 180px;
        height: 50px;
        color: $color-blue;
        background-color: $color-white;
        outline: none;
        border: none;
        border-radius: 20px;
        font-family: $font-main;
        font-size: 2rem;
        text-transform: uppercase;
        box-shadow: 6px 8px 18px 1px $color-black;
        &:hover {
            cursor: pointer;
        }
        &:active {
            padding-right: 1px;
            padding-bottom: 3px;
            color: $color-black;
            box-shadow: -5px -2px 18px 1px $color-black;
        }
    }
}

.not-show-projects {
    display: none;
}

.news {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background-image: url('../img/rema-m-bg.jpg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    &-items {
        width: 75%;
        margin: 0 auto;
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    &-item {
        width: 96%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 35px;
        // width: 350px;
    }
    &-img {
        display: none;
        // width: 370px;
        // height: 230px;
    }
    &-date {
        font-family: $font-main;
        color: $color-black;
        font-size: 2rem;
        font-weight: 600;
        // font-size: 3.5rem;
        // font-weight: 600;
        padding-bottom: 10px;
    }
    &-text {
        font-family: $font-main;
        color: $color-black;
        font-size: 1.8rem;
        font-weight: 500;
        padding-bottom: 15px;
    }
}

.partners {
    width: 100%;
    background-color: $color-white;
    padding-top: 25px;
    text-align: center;
    &-items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
    }
    &-item {
        display: block;
        width: 239px;
        margin-bottom: 40px;
    }
}

.feedback {
    width: 100%;
    background-image: url('../img/feedback-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 25px;
    // padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    &-title {
        // display: block;
        width: 90%;
        font-family: $font-main;
        color: $color-black;
        font-size: 2.2rem;
        font-weight: 500;
        // font-size: 3.8rem;
        // font-weight: 600;
        padding-bottom: 20px;
        text-align: center;
        margin: 0 auto;
    }
    &-form {
        width: 100%;
        // height: 350px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
    }
    &-input {
        display: block;
        width: 80%;
        height: 60px;
        border: none;
        border-radius: 10px;
        margin-bottom: 25px;
        outline: none !important;
        padding: 5px 0 5px 10px;
        font-family: $font-main;
        color: $color-blue;
        font-size: 2rem;
        font-weight: 400;
    }
    &-texarea {
        display: block;
        width: 80%;
        height: 180px;
        border: none;
        border-radius: 10px;
        outline: none !important;
        padding: 5px 0 5px 10px;
        font-family: $font-main;
        color: $color-blue;
        font-size: 2rem;
        font-weight: 400;
    }
    &-button {
        width: 80%;
        height: 100px;
        display: block;
        text-align: center;
        padding-top: 25px;
    }
    &-btn {
        width: 100%;
        height: 50px;
        // width: 500px;
        // height: 60px;
        background-color: green;
        border-radius: 15px;
        color: $color-white;
        font-family: $font-main;
        font-size: 2.4rem;
        font-weight: 400;
        &:hover {
            cursor: pointer;
        }
    }
    &-after-send {
        width: 80%;
        height: 80px;
        font-family: $font-main;
        color: $color-black;
        font-size: 2.8rem;
        font-weight: 500;
        // font-size: 3.8rem;
        // font-weight: 600;
        padding-top: 20px;
    }
    &-info {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 40px;
    }
    &-item {
        padding-bottom: 15px;
        &:last-child {
            padding-bottom: 30px;
        }
    }
    &-icon {}
    &-text {
        font-family: $font-main;
        color: $color-black;
        font-size: 1.7rem;
        font-weight: 600;
        text-decoration: none;
        padding-left: 10px;
        &:hover {
            cursor: pointer;
            color: $color-blue;
        }
    }
    &-contact {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
    }
}

.footer {
    width: 100%;
    // height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &-logo {
        display: block;
    }
    &-link {
        // display: block;
        font-family: $font-main;
        // color: $color-white;
        font-size: 1.8rem;
        // font-size: 2rem;
        font-weight: 400;
        // text-decoration: none;
        // &:hover {
        //     cursor: pointer;
        //     color: $color-blue;
        // }
    }
}

.notuse {
    display: none;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
    html {
        font-size: 13px;
    }
    .m-video-no {
        display: initial;
    }
    .video-no {
        display: none;
    }
    .projects-btn {
        width: 250px;
        height: 70px;
    }
    .news {
        &-item {
            flex-wrap: wrap;
        }
        &-img {
            display: none;
        }
    }
    .feedback {
        &-text {
            font-size: 1.6rem;
        }
        &-after-send {
            width: 80%;
            height: 100px;
            font-size: 2.6rem;
            font-weight: 500;
        }
    }
    .partners {
        &-item {
            margin-bottom: 40px;
        }
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 11px;
    }
    .m-video-no {
        display: initial;
    }
    .video-no {
        display: none;
    }
    .header-menu {
        display: flex;
    }
    .about {
        flex-wrap: nowrap;
        &-title {
            font-size: 3.3rem;
            text-align: left;
        }
        &-subtitle {
            font-size: 2.0rem;
        }
        &-videos {
            text-align: right;
        }
    }
    .d-video-no {
        display: initial;
    }
    .feedback {
        &-info {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &-item {
            width: 50%;
        }
        &-after-send {
            width: 80%;
            height: 150px;
            font-size: 3rem;
            font-weight: 500;
            // font-size: 3.8rem;
            // font-weight: 600;
            padding-top: 20px;
        }
    }
    .points {
        display: flex;
    }
    .animation-point {
        height: 200px;
        opacity: 0;
    }
    .animation-to-right {
        width: 100%;
        // height: 200px;
        animation-duration: 1.5s;
        animation-name: toright;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    @keyframes toright {
        from {
            opacity: 0;
            margin-left: -100%;
        }
        to {
            margin-left: 0%;
            opacity: 1;
        }
    }
    .animation-to-top {
        width: 100%;
        // height: 200px;
        animation-duration: 2s;
        animation-name: totop;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    @keyframes totop {
        from {
            opacity: 0;
            margin-bottom: -100%;
        }
        to {
            margin-bottom: 0%;
            opacity: 1;
        }
    }
    .animation-to-left {
        width: 100%;
        // height: 200px;
        animation-duration: 1.5s;
        animation-name: toleft;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    @keyframes toleft {
        from {
            opacity: 0;
            margin-right: -100%;
        }
        to {
            margin-right: 0%;
            opacity: 1;
        }
    }
    .algorithm {
        &-items {
            grid-template-columns: 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr;
            grid-template-rows: 1fr;
        }
        &-notuse {
            display: initial;
        }
    }
    .projects {
        &-imgs {
            display: flex;
        }
        &-more {
            display: none;
        }
        &-item-title {
            font-size: 2.6rem;
        }
        &-text {
            font-size: 1.6rem;
        }
    }
    .not-show-projects {
        display: block;
        // width: 96%;
        // margin: 0 auto;
    }
    .news {
        background-image: url('../img/rema-bg.jpg');
        background-size: auto;
        background-position: left top;
        background-size: cover;
    }
    .news-img {
        display: initial;
        width: 370px;
        height: 230px;
        margin-right: 20px;
    }
    .partners {
        padding: 30px 0;
        &-items {
            width: 80%;
            margin: 0 auto;
        }
        &-item {
            margin-bottom: 30px;
        }
    }
}